.descripcion{
    font-size: 15px;
}
a:link, a:visited, a:active{
    text-decoration: none;
    color: aqua;
}
.imagen{    
    height: 50px;
    width: 50px;  
}
.titulo{
    font-size: 20px;
    font-weight: bold;
    color: aqua;

}
.icono{
    font-size: 25px;
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
}
a{
    color: aqua;
}
.contenido{
    margin: 15px;
    padding-bottom: 10px;
}
h2{
    color: darkred;
    font-weight: bold;
    font-size: 27;
}
p{
  color:  rgba(226, 214, 41, 0.849);
  font-weight: bold;
}
.fondo{
    background-image: url(../../../assets/img/programador_perfil.png);
    background-size: 100% 100%;
}
a.crear{
    color: rgb(50, 240, 50);
}
a.editar{
    color: rgb(255, 115, 0);
}
a.borrar{
    color: rgb(252, 47, 47);
}
h5{
    color: darkred;
    font-weight: bold;
    font-size: 20px;
}
label{
    color:aquamarine;
    font-style: italic;
    font-weight: bold;
    font-size:15px;

}
.oscuro .titulo{
    font-size: 20px;
    font-weight: bold;
    color: rgb(2, 2, 167);
}
.oscuro h2{
    color: rgb(230, 202, 144);
    font-weight: bold;
    font-size: 27;
}
.oscuro p{
    color: rgb(10, 190, 10);
    font-weight: bold;
  }